* {
    box-sizing: border-box;
}

.background {
    background: #F2F6FE;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background__img img {
    max-width: 1000px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.form-wrapper {
    position: absolute;
    background: #FFFFFF;
    width: 400px;
    height: 500px;
    padding: 40px;
    border-radius: 15px;
    right: 300px;
}

.logo__img img {
    position: absolute;
    width: 230px;
    left: -45px;
    top: -20px;
}

.form-title {
    position: absolute;
    top: 50px;
}

@media (max-width: 768px) {
    .background__img img {
        max-width: 100%;
        height: auto;
    }
    .form-wrapper {
        width: 90%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .logo__img img {
        width: 150px;
        left: -20px;
    }
}