
<!-- <router-outlet> -->

  <html>
    
    <div class="forgot-password">
      <img src="assets/nen-quenmk.jpg" class="img-bg" alt="">
      <form class="son">
        <img src="assets/class-room-hub.png" alt="" class="img-logo-form">
        <span class="text">Quên mật khẩu</span>
        <p>Log in to unlock tailored content and stay connected with your community.</p>
        
        <span>  </span>
        
        <input type="text" class="input-form" placeholder="Nhập email">
        <div class=""> <span style="color: red;">*</span> Chúng tôi sẽ gửi cho bạn tin nhắn về email của bạn. Vui lòng kiểm tra email để thiết lập mật khẩu.</div>
        
        <button type="submit">Gui ma</button>
      </form>
    </div>
  <!-- </router-outlet> -->
  </html>